/* .header-wrapper {
    --scroll-percent-max-500: calc(var(--y-offset-max-500) / 500);
    --uplift: clamp(-140px, calc((1 - var(--scroll-percent-max-500)) * 3 * -140px), 0px);

    position: sticky;
    top: 0;
    background: white;
 
    will-change: transform; 
    height: calc(100px + 140px * (1 - var(--scroll-percent-max-500) * 3));
}
.header-wrapper .container {
    height: clamp(140px, calc(140px + (1 - var(--y-offset-max-500)) * 100px), 240px);
}

.logo-title {
    transition: padding 0.3s ease, font-size 0.3s ease;
    padding: 1.5rem 0;
    font-size: 2rem;
    white-space: nowrap;
    background-color: white;
}

.header-content {
    transition: transform 0.3s ease;
    transform: translateY(calc(var(--scroll-percent-max-500) * -140px));
    opacity: calc(1 - var(--scroll-percent-max-500) * 3);
    overflow: hidden;
} */

.logo-title {
    position: sticky;
    top: 0;
    background-color: #fff; /* Добавьте нужный цвет фона */
    z-index: 1000; /* Чтобы элемент был поверх остального контента */
  }
  
  .header-wrapper {
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  /* .container {
    position: relative;
  } */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.hamburger-line {
    background-color: #333;
    height: 3px;
    border-radius: 2px;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#mobile-menu {
    display: none;
}

#mobile-menu.active {
    display: block;
}

/* @media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #mobile-menu {
        display: none !important;
    }
} */



/*====================*/
.article-content {
    padding: 20px;
}

.article-main-text * {
    text-align: justify;
}
.article-main-text p {
    margin-bottom: 1rem;
}

.article-image {
    width: 30%;
    max-width: 400px;
    margin: 0 0 20px 20px;
    display: block;
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Ajouter Issue */
.inset-0 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.add-issue-dialog {
    height: calc(98% - 1 * var(--stickyhead-height));;
    top: calc(var(--stickyhead-height) / 2);
    margin: 1%;
    background-color: ghostwhite;
    position: relative;
}

#main-editor .ql-editor, .secondary-editor .ql-editor {
    min-height: 6rem;
}